<%= form_for(rental) do |f| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.collection_select :dvd_id, Dvd.all, :id, :title %>
  </p>

  <p>
  <%= label :rented_at, "Rented date" %>
  <%= f.date_select :rented_at %>
  </p>

  <p>
  <%= label :due_at, "Due" %>
  <%= f.date_select :due_at %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
